<!-- create the navigation bar -->


<div class="footer">
  <div class="container-fluid text-center">
    <a class="navbar-brand" href="/">
      <img src="/images/portfolio_logo_v2.png" alt="Logo" width="120" height="120">
    </a>
</div>
</div>