<!-- create the navigation bar -->
<div class="container navigation" id="navbar">
<nav class="navbar navbar-expand-sm navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="images/portfolio_logo.png" alt="Logo" width="120" height="120">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ml-auto">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/gallery">Gallery</a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="https://www.etsy.com/shop/HeraldingBirds" target="_blank">Shop</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>