<!-- include standard layout -->
<% layout('../layouts/boilerplate') %>

<% if (messages) { %>
    <div class="alert alert-success flash container-fluid" role="alert">
    <%= messages%>
    </div>
  <% } %>
<h1>You made it to the admin page</h1>