<!-- include standard layout -->
<% layout('../layouts/boilerplate') %>

<% if (messages && messages.length > 0) { %>
  <div class="alert alert-warning flash container-fluid" role="alert">
    <%= messages %>
  </div>
<% } %>

<div class="container-fluid text-center admin">
  <div class="container indexcontent">
  <!-- create a new post link -->
    <a href="/admin/new"><button type="button" class="btn mb-5">Create a new image</button></a>
  <!-- edit a post link -->
    <a href="/admin/edit"><button type="button" class="btn mb-5">Edit an image</button></a>
  <!-- delete a post link -->
    <a href="/admin/delete"><button type="button" class="btn mb-5">Delete an image</button></a>
  </div>
</div>

