<% layout('../layouts/boilerplate') %>

<% if (messages && messages.length > 0) { %>
    <div class="alert alert-warning flash container-fluid" role="alert">
      <%= messages %>
    </div>
<% } %>

<div class="container-fluid pr-0 pl-0" id="newBackground" style="opacity:0.4; position:absolute">
    <img class="img-fluid" src="images/background_v5.png">
</div>

<div id="contactdiv">
    <div class="container col-8 col-md-6 mx-auto" id="contactForm">
        <form action="/" class="contact-form pt-5 pb-5" method="POST">
            <h4 class="title mb-2">Contact me</h4>
            <p class="description mb-4">Feel free to contact me if you have a question or want to stay in touch!</p>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="message[name]" id="name" aria-label="Name" placeholder="Enter your name", required>
            </div>
            <div class="form-group">
                <label for="email">Email adress</label>
                <input type="email" class="form-control" name="message[email]" id="email" aria-label="Email" placeholder="Enter email", required>
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" name="message[message]" aria-label="Message" rows="3", required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>