<% layout('../layouts/boilerplate') %>

<% if (messages && messages.length > 0) { %>
    <div class="alert alert-warning flash container-fluid" role="alert">
      <%= messages %>
    </div>
<% } %>
 
<div class="container-fluid text-center admin">
    <div class="container indexcontent">
        <h5 class="pt-5" id="fineart">All posts</h5>
        <hr>
        <div class="container homecontent">
            <!-- make sure that there is a new row div created for every 3 posts -->
            <div class="row">
                <% for (let Post of posts) { %>
                    <div class="col-md-4 mb-2">
                        <a href="/admin/<%=Post.slug%>/delete">
                            <img class="img-fluid index_image" src="<%= Post.image.url %>" alt="<%= Post.title %>">
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>