<!-- include standard layout -->
<% layout('../layouts/boilerplate') %>

<% if (messages && messages.length > 0) { %>
    <div class="alert alert-warning flash container-fluid" role="alert">
      <%= messages %>
    </div>
<% } %>
  
<div class="container-fluid text-center mt-5">
    <h5 class="pt-5" id="fineart">Fine Art</h5>
    <hr>
    <div class="container homecontent">
        <!-- make sure that there is a new row div created for every 3 posts -->
        <div class="row">
            <% let fine_count = 0; %>
            <% for (let Post of posts) { %>
                <div class="col-md-4 mb-2">
                    <a href="/admin/<%=Post.slug%>/edit">
                        <img class="img-fluid index_image" src="<%= Post.image %>" alt="<%= Post.title %>">
                    </a>
                </div>
                <% fine_count++; %>
                <% if (fine_count % 3 === 0) { %>
                    </div><div class="row">
                <% } %>
            <% } %>
        </div>
    </div>
</div>