<% layout('../layouts/boilerplate')%>
<div class="container-fluid text-center admin">
    <div class="col-4 offset-4 indexcontent">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading mt-5"><%=error.message%></h4>
            <a href="/"><button type="button" class="btn mb-5 mt-5">Back to home page</button></a>
        </div>
    </div>
</div>