<!-- include standard layout -->
<% layout('../layouts/boilerplate') %>


<!-- Add homepage image -->
<img class="img-fluid fixed-top" id="background" src="images/background_v4.png">

<!-- scroll down icon -->
<div class="container-fluid text-center mb-2 mb-md-5" id="arrowdown"> 
    <i class="fa fa-angles-down fa-2xl"></i>
</div>
<!-- divs and links for the different pages -->
<div class="container-fluid text-center" id="hometoabout">
    <div class="container homecontent pt-5 pb-5">
        <h5>Aspiring bird artist based in the Netherlands. </h5>
        <h5> _ </h5>
        <p class="mt-4 mb-5">As an illustrator with a great love for nature, I use both traditional and digital techniques in my illustrations to visualize the beautiful patterns that can be discovered in bird plumage.My aim is to encourage people to observe nature with a more attentive eye and to find themselves fascinated by avian inhabitants of our planet. </p>
        <a class="mt-2" href="/contact"><button type="button" class="btn btn-outline-dark">Contact</button></a>
    </div>
</div>

<div class="container-fluid text-center" id="hometogallery">
    <div class="container homecontent">
        <!-- gallery automatic slideshow -->
        <div class="carousel slide mx-auto carousel-fade" data-ride="carousel" data-interval="5000" id="home-carousel">
            <div class="carousel-inner ">
                <% for (let i = 0; i < posts.length; i++) { %>
                    <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                        <img class="d-block w-100 mt-5 mb-5" src="<%= posts[i].image %>" alt="<%= posts[i].alt %>">
                    </div>
                <% } %>
            </div>
        </div>
        <a href="/gallery"><button type="button" class="btn btn-outline-dark mb-5">Gallery</button></a>
    </div>
</div>

<div class="container-fluid text-center" id="hometoshop">
    <div class="container homecontent"> 
    <img class="img-fluid mt-5" src="images/shop_image_v2.png">   
    <a href="#"><button type="button" class="btn btn-outline-dark mt-5 mb-5">Shop</button></a>
    </div>
</div>