<!-- include standard layout -->
<% layout('../layouts/boilerplate') %>


<!-- Add homepage image -->
<img class="img-fluid sticky-top" id="background" src="images/background_v4.png">

<!-- scroll down icon -->
<div class="container-fluid text-center"> 
    <i class="fa fa-angles-down fa-2xl mb-5"></i>
</div>
<!-- divs and links for the different pages -->
<div class="container-fluid text-center" id="hometoabout">
    <div class="container homecontent pt-5 pb-5">
        <h5>Aspiring bird artist based in the Netherlands. </h5>
        <h5> _ </h5>
        <p class="mt-4 mb-5">As an illustrator with a great love for nature, I use both traditional and digital techniques in my illustrations to visualize the beautiful patterns that can be discovered in bird plumage.My aim is to encourage people to observe nature with a more attentive eye and to find themselves fascinated by avian inhabitants of our planet. </p>
        <a class="mt-2" href="/contact"><button type="button" class="btn btn-outline-dark">Contact</button></a>
    </div>
</div>

<div class="container-fluid text-center" id="hometogallery">
    <div class="container homecontent">
        <h5>Gallery</h5>
        <a href="/gallery"><button type="button" class="btn btn-outline-dark">Gallery</button></a>
    </div>
</div>

<div class="container-fluid text-center" id="hometoshop">
    <div class="container homecontent"> 
    <img class="img-fluid mt-5" src="images/shop_image_v2.png">   
    <a href="#"><button type="button" class="btn btn-outline-dark mt-5 mb-5">Shop</button></a>
    </div>
</div>