<!-- include standard layout -->
<% layout('../layouts/boilerplate') %>

<!-- index page -->

<!-- title -->
<div class="container-fluid text-center">
    <div class="container indexcontent">
        <h4 class="mt-5">Illustrations</h4>`
        <p class="mb-5">Below you can find some of my fine art and poster illustrations. If you are interested in a certain bird don't hesitate to let me know! Al illustrations can be bought <span><a href='/#'>here</a></span>.</p>
    </div>
    <div class="container-fluid justify-content-between">
        <a class="mr-3" href="/fineart"><button type="button" class="btn btn-outline-dark">Fine art</button></a>
        <a class="ml-3" href="/posters"><button type="button" class="btn btn-outline-dark">Posters</button></a>
    </div>
    
</div>

<!-- divs with fine art and illustrations to which you skip when clicking on the button above -->
<div class="container-fluid text-center mt-5">
    <h5>Fine Art</h5>
    <hr>
    <div class="container">
        <p>here will be the images</p>
    </div>
</div>

<div class="container-fluid text-center mt-5">
    <h5>Posters</h5>
    <hr>
    <div class="container">
        <p>here will be the images</p>
    </div>
</div>