<!-- include standard layout -->
<% layout('../layouts/boilerplate') %>

<% if (messages) { %>
  <div class="alert alert-warning flash container-fluid" role="alert">
  <%= messages%>
  </div>
<% } %>
<div class="container justify-content-center text-center">
  <h1>Login</h1>
  <form method="post" action="/login">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <button type="btn submit">Login</button>
    </div>
  </form>
</div>