<!-- include standard layout -->
<% layout('../layouts/boilerplate') %>

<% if (messages && messages.length > 0) { %>
    <div class="alert alert-warning flash container-fluid" role="alert">
      <%= messages %>
    </div>
<% } %>

<div class="container-fluid text-center admin">
    <div class="container indexcontent">
        <h1 class="mb-5">New post</h1>
        <div class="mx-auto">
            <form class="mb-5" action="/admin" method="post", enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id ="title" name = "post[title]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="file">Image file</label>
                    <input class="form-control-file" type="file" name="file" id="file" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="class">Class</label>
                    <select class="form-select" type = 'text' id ="class" name = "post[class]" required>
                        <option selected>Choose a class type</option>
                        <option value="fine art">fine art</option>
                        <option value="poster art">poster art</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="alt">Alt text</label>
                    <input class="form-control" type="text" id="alt" name="post[alt]" required>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add post</button>
                </div>
            </form>
                <a href="/admin"><button type="button" class="btn mb-5">Back to admin page</button></a>
                <a href="/admin/edit"><button type="button" class="btn mb-5">Edit an image</button></a>
                <a href="/admin/delete"><button type="button" class="btn mb-5">Delete an image</button></a>
        </div>
    </div>
</div>