<!-- include standard layout -->
<% layout('../layouts/boilerplate') %>

<% if (messages) { %>
    <div class="alert alert-warning flash container-fluid" role="alert">
    <%= messages%>
    </div>
<% } %>
