/* give the body some height */
/* body {
    min-height: 150vh;
    display: flex;
    flex-direction: column;
} */
html {  
    scroll-behavior: smooth;  
    justify-content: center;
}

body {
    justify-content: center;
}
a {
    color: darkblue;
}
/* center navbar on big screens */
@media (min-width: 576px) {
    .navigation {
        justify-content: center;
        display: flex;
    }
}

/* make home background img stay at the back */
#background {
    z-index: -1;
    margin-top: 5em;
}
/* give about div on home page a see-through white background */
#hometoabout {
    background: rgba(255,255,255,0.8);
}
#arrowdown {
    background: rgba(255,255,255,0.8);
}
/* give gallery div on home page a white background */
#hometogallery {
    background:rgba(255,255,255,1.0);
}

/* give shop div on home page a white background */
#hometoshop {
    background:rgba(255,255,255,0.8);
}
/* set width home content */
.container.homecontent {
    max-width: 40em;
}
.container.indexcontent {
    max-width: 30em;
}
/* make background footer white */
.footer {
    background: rgba(255,255,255,0.8);
}
/* more space between nav-items */
.nav-item {
    margin-left: 2em;
    margin-right: 2em;
}

/* sizing carousel items home page */
.carousel{ 
    max-width: 20em;
}

/* carousel fade in fade out */
.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: 4s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

hr {
    width: 20%;
}

/* make sure hovering effect when hovering over image */
.index_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
.col-md-4:hover .index_image {
    opacity: 0.3;
}

/* create lightbox effect when clicking on image */
/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
    z-index: 2;
     
}
.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
        
}    
/* Styles the close link, adds the slide down transition */

a.lightbox-close {
    display: block;
    width:50px;
    height:50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
a.lightbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    overflow:scroll;
}
    
.lightbox-target:target img {
    max-height: 100%;
    max-width: 100%;
}
    
.lightbox-target:target a.lightbox-close {
    top: 0;
}

#newBackground {
    text-align: right;
    position: fixed;
    z-index: -1;
}

#newBackground img {
    width: 90%;
    margin-top: -80px;
}
/* #newBackground img {
    width: 100%;
    height: auto;
} */
@media (min-width: 576px) {
    #newBackground img {
        width: 80%;
        margin-top: -40px;
    }
}
@media (min-width: 768px) {
    #newBackground img {
        width: 70%;
    }
}

@media (min-width: 992px) {
    #newBackground img {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    #newBackground img {
        width: 50%;
    }
}

/* contact form styling */
.contact-form-wrapper {
    padding: 100px 0;
  }
  
  .contact-form {
    padding: 30px 40px;
    background-color: #ffffff;
    border-radius: 12px;
    max-width: 400px;
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.2)
  }
  
  .contact-form textarea {
    resize: none;
  }
  
  .contact-form .form-input,
  .form-text-area {
    background-color: #f0f4f5;
    height: 50px;
    padding-left: 16px;
  }
  
  .contact-form .form-text-area {
    background-color: #f0f4f5;
    height: auto;
    padding-left: 16px;
  }
  
  .contact-form .form-control::placeholder {
    color: #aeb4b9;
    font-weight: 500;
    opacity: 1;
  }
  
  .contact-form .form-control:-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
  }
  
  .contact-form .form-control::-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
  }
  
  .contact-form .form-control:focus {
    border-color: #f33fb0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #f33fb0;
  }
  
  .contact-form .title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
  }
  
  .contact-form .description {
    color: #aeb4b9;
    font-size: 14px;
    text-align: center;
  }
  
  .contact-form .submit-button-wrapper {
    text-align: center;
  }
  
  .contact-form .submit-button-wrapper input {
    border: none;
    border-radius: 4px;
    background-color: #f23292;
    color: white;
    text-transform: uppercase;
    padding: 10px 60px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  
  .contact-form .submit-button-wrapper input:hover {
    background-color: #d30069;
  }