<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sylke Angenent Portfolio</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- icon directory -->
        <script src="https://kit.fontawesome.com/e0e249c915.js" crossorigin="anonymous"></script>
        <!-- stylesheet -->
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
    </head>
    <body>
        <!-- start with a header, visible on every page -->
        <%- include('../partials/header')%>

        <!-- input from views -->
        <%- body %>

        <!-- end with a footer, visible on every page -->
        <%- include('../partials/footer')%>

        <!-- bootstrap javascript -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- make carousel home page cycle -->
        <script>
            $(document).ready(function() {
                $('.carousel').carousel();
            });
            console.log('there is a script here');
        </script>
        <!-- make icon y margin -->
    <!-- <script>
        // Function to update the margin-top when the page is resized
        function updateMarginTop() {
            // Get the height of the #background element
            const backgroundHeight = document.getElementById('background').clientHeight;
            const maxMarginTop = window.innerHeight - backgroundHeight - 50;
            const MarginTop = Math.min(maxMarginTop, 0)
            // Set the margin-top of the #arrowdown element
            document.getElementById('arrowdown').style.marginTop = backgroundHeight + 50 + 'px';
        }
        // Add an event listener to the window's resize event
        window.addEventListener('resize', updateMarginTop);
        // Call the function initially to set the margin-top when the page loads
        updateMarginTop();
    </script> -->
    <script>
        function updateMarginTop() {
            const imageHeight = document.getElementById('newBackground').clientHeight;
            const navbarHeight = document.getElementById('navbar').clientHeight;
            document.getElementById('arrowdown').style.marginTop = imageHeight +  20 + 'px';
        }
        // Add an event listener to the window's resize event
        window.addEventListener('resize', updateMarginTop);
        // Call the function initially to set the margin-top when the page loads
        updateMarginTop();
    </script>
    <!-- set min-width and width of home page image -->
    <!-- <script>
        function updateImgWidth(){
            const viewportWidth = window.innerWidth;
            const minWidth
        }
    </script> -->
    <!-- get height of viewport and center gallery intro -->
    <script>
        function updateGalleryIntroHeight() {
            const centerHeight = window.innerHeight / 2;
            const introHeight = document.getElementById('galleryIntro').clientHeight / 2;
            const navbarHeight = document.getElementById('navbar').clientHeight;
            // set the galleryintro height equal to window innerheight - navbar height
            document.getElementById('galleryIntro').style.marginTop = centerHeight - introHeight - navbarHeight + 'px';
            document.getElementById('galleryIntro').style.marginBottom = centerHeight - introHeight - 50 + 'px';
        }
        // Add an event listener to the window's resize event
        window.addEventListener('resize', updateGalleryIntroHeight);
        // Call the function initially to set the margin-top when the page loads
        updateGalleryIntroHeight();
    </script>
    <!-- fix the active navbar link -->
    <script>
        $(document).ready(function() {
            $('a.active').removeClass('active');
            $('a[href="' + location.pathname + '"]').closest('li').addClass('active'); 
        });
    </script>
    </body>
</html>
